<!-- auth.component.html -->
<div class="flex justify-center items-center md:h-screen bg-gray-100">
  <!-- Contenedor principal -->
  <div
    class="flex flex-col md:flex-row w-full max-w-5xl p-6 bg-white shadow-lg rounded-lg"
  >
    <!-- Formulario de Inicio de Sesión -->
    <div class="flex-1 p-6 flex flex-col items-center">
      <!-- TODO: Añadir logo de usuarios -->
      <img src="/assets/ico/usuarios.avif" class="md:w-44 w-32" />

      <h2 class="mb-4 h2-form">Acceso usuarios</h2>
      <form>
        <div class="mb-5">
          <label for="email">Email</label>
          <p-inputGroup>
            <p-inputGroupAddon>
              <i class="pi pi-envelope"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="Introduce tu email..." />
          </p-inputGroup>
        </div>
        <label for="password">Contraseña</label>

        <div class="mb-5 password-style">
          <div class="flex">
            <div class="flex">
              <p-inputGroupAddon>
                <i class="pi pi-lock"></i>
              </p-inputGroupAddon>

              <p-password
                [toggleMask]="true"
                [feedback]="false"
                class="w-72"
                placeholder="Introduce tu contraseña..."
              ></p-password>
            </div>
          </div>
        </div>
        <div class="w-full flex justify-center mt-8">
          <p-button label="Iniciar sesión"></p-button>
        </div>
      </form>
    </div>

    <div class="md:ml-6 divider"></div>
    <div class="divider-mobile sm:hidden"></div>

    <!-- Formulario de Registro -->
    <div class="flex-1 p-6 flex flex-col items-center">
      <h2 class="mb-4 h2-form">Registro</h2>
      <form>
        <div class="mb-5">
          <label for="nombre">Nombre</label>
          <p-inputGroup>
            <p-inputGroupAddon>
              <i class="pi pi-user"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="Introduce tu nombre..." />
          </p-inputGroup>
        </div>

        <div class="mb-5">
          <label for="apellidos">Apellidos</label>
          <p-inputGroup>
            <p-inputGroupAddon>
              <i class="pi pi-user"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="Introduce tus apellidos..." />
          </p-inputGroup>
        </div>

        <div class="mb-5">
          <label for="email">Email</label>
          <p-inputGroup>
            <p-inputGroupAddon>
              <i class="pi pi-envelope"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="Introduce tu email..." />
          </p-inputGroup>
        </div>

        <label for="password">Contraseña</label>
        <div class="mb-5 password-style">
          <div class="flex">
            <div class="flex">
              <p-inputGroupAddon>
                <i class="pi pi-lock"></i>
              </p-inputGroupAddon>

              <p-password
                [toggleMask]="true"
                [feedback]="false"
                class="w-72"
                placeholder="Introduce tu contraseña..."
              ></p-password>
            </div>
          </div>
        </div>

        <label for="password">Contraseña de nuevo</label>
        <div class="mb-5 password-style">
          <div class="flex">
            <div class="flex">
              <p-inputGroupAddon>
                <i class="pi pi-lock"></i>
              </p-inputGroupAddon>

              <p-password
                [toggleMask]="true"
                [feedback]="false"
                class="w-72"
                placeholder="Introduce tu contraseña..."
              ></p-password>
            </div>
          </div>
        </div>

        <div class="w-full flex justify-center mt-8 pb-12 sm:pb-0">
          <p-button label="Registrarse"></p-button>
        </div>
      </form>
    </div>
  </div>
</div>
