.divider{
    width: 1px;
    border-right: 1px solid gainsboro;
}

.divider-mobile{
    width: 100%;
    border-bottom: 1px solid gainsboro;
    margin-top: 40px;
}

.custom-input-group {
    position: relative;
  }
  
  