<div class="w-11/12 m-auto mb-20 table-autoflow rounded-xl shadow-lg">
  <p-table
    [value]="facturas"
    styleClass="p-datatable-sm"
    [tableStyle]="{ 'min-width': '60rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="limit"
    [totalRecords]="totalFacturas"
    (onLazyLoad)="cargarFacturas($event)"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    lazy="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="fecha_emision" style="width: 10%">
          <div>
            Fecha
            <p-sortIcon class="order" field="fecha_emision" />
          </div>
        </th>

        <th pSortableColumn="numero" style="width: 12.5%">
          <div>
            Nº Factura
            <p-sortIcon class="order" field="numero" />
          </div>
        </th>

        <th pSortableColumn="cliente_id" style="width: 12.5%">
          <div>
            Cliente
            <p-sortIcon class="order" field="cliente_id" />
          </div>
        </th>

        <th pSortableColumn="importe" style="width: 10%">
          <div>
            Importe
            <p-sortIcon class="order" field="importe" />
          </div>
        </th>

        <th pSortableColumn="estado" style="width: 5%">
          <div>
            Estado
            <p-sortIcon class="order" field="estado" />
          </div>
        </th>

        <th style="width: 20%">Descripción</th>
        <th style="width: 1%">Archivo</th>
        <th style="width: 1%">Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-factura>
      <tr class="body-table">
        <td>{{ factura.fecha_emision | date : "dd/MM/yyyy" }}</td>
        <td>{{ factura.numero }}</td>
        <td>{{ factura.cliente_nombre }}</td>
        <td>€ {{ factura.importe }}</td>

        <td>
          <span>
            <p-tag
              [value]="factura.estado ? 'Pagada' : 'Pendiente'"
              [severity]="factura.estado ? 'success' : 'danger'"
            >
            </p-tag>
          </span>
        </td>

        <td>{{ factura.descripcion }}</td>

        <td>
          <a
            *ngIf="factura.archivo"
            [href]="factura.archivo_url"
            target="_blank"
            class="text-[#112c35] hover:text-[#4ce1b9] transition-colors ml-3"
          >
            <i class="pi pi-file-pdf" style="font-size: 1.4rem"></i>
          </a>
          <span class="ml-5" *ngIf="!factura.archivo">-</span>
        </td>

        <td class="flex gap-2">
          <button class="p-button" (click)="abrirModalEdicion(factura)">
            <i class="pi pi-file-edit"></i>
          </button>
          <button
            class="p-button p-button-danger"
            (click)="deleteFactura(factura.id, factura.numero)"
          >
            <i class="pi pi-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="15">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ totalFacturas || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td
          colspan="8"
          style="text-align: center; padding: 30px; align-items: center"
        >
          <i
            class="pi pi-info-circle"
            style="margin-right: 15px; font-size: 1.6rem; color: blue"
          ></i>
          <strong>No hay facturas para mostrar.</strong>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-dialog
    header="Editar Factura: {{ facturaSeleccionada.numero }}"
    [(visible)]="mostrarDialogo"
    [modal]="true"
    styleClass="w-full sm:w-10/12 md:w-1/2"
    [closable]="true"
    (onHide)="mostrarDialogo = false"
  >
    <div class="custom-grid-form p-4">
      <div>
        <label class="block"> Número de Factura </label>
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-file"></i>
          </p-inputGroupAddon>
          <input
            pInputText
            required="true"
            id="numeroFactura"
            [(ngModel)]="facturaSeleccionada.numero"
          />
        </p-inputGroup>
      </div>

      <div>
        <label class="block"> Cliente </label>
        <div class="flex custom-div-form">
          <p-inputGroupAddon>
            <i class="pi pi-tags"></i>
          </p-inputGroupAddon>
          <p-select
            [(ngModel)]="facturaSeleccionada.cliente_id"
            [options]="clientes"
            optionLabel="label"
            optionValue="value"
            [filter]="true"
            class="p-fluid w-full custom-p-select"
          ></p-select>
        </div>
      </div>

      <div>
        <label class="block"> Fecha </label>
        <div class="flex custom-div-form">
          <p-inputGroupAddon>
            <i class="pi pi-calendar"></i>
          </p-inputGroupAddon>
          <p-datepicker
            [(ngModel)]="facturaSeleccionada.fecha_emision"
            required="true"
            [readonlyInput]="true"
            [showButtonBar]="true"
            dateFormat="dd/mm/yy"
            styleClass="p-fluid w-full"
            [appendTo]="'body'"
          ></p-datepicker>
        </div>
      </div>

      <div>
        <label class="block"> Importe </label>
        <div class="flex custom-div-form">
          <p-inputGroupAddon>
            <i class="pi pi-dollar"></i>
          </p-inputGroupAddon>
          <input
            pInputText
            [(ngModel)]="facturaSeleccionada.importe"
            required="true"
            autocomplete="off"
            type="number"
          />
        </div>
      </div>

      <div>
        <label class="block"> Descripción </label>
        <div class="flex custom-div-form">
          <p-inputGroupAddon>
            <i class="pi pi-pencil"></i>
          </p-inputGroupAddon>
          <textarea
            pTextarea
            [(ngModel)]="facturaSeleccionada.descripcion"
            required="true"
            class="p-fluid w-full"
          ></textarea>
        </div>
      </div>

      <div>
        <label class="block"> ¿Está pagada? </label>
        <label
          class="relative inline-block h-8 w-14 cursor-pointer rounded-full bg-gray-300 transition [-webkit-tap-highlight-color:_transparent] has-[:checked]:bg-[rgb(21,44,53)]"
          [for]="'estado-' + facturaSeleccionada.id"
        >
          <input
            [(ngModel)]="facturaSeleccionada.estado"
            class="peer sr-only"
            [id]="'estado-' + facturaSeleccionada.id"
            type="checkbox"
          />
          <span
            class="absolute inset-y-0 start-0 m-1 size-6 rounded-full bg-gray-300 ring-[6px] ring-inset ring-white transition-all peer-checked:start-8 peer-checked:w-2 peer-checked:bg-white peer-checked:ring-transparent"
          ></span>
        </label>
      </div>

      <div class="custom-div-file sm:mb-0 mb-8 flex flex-col sm:flex-row">
        <div>
          <p-fileUpload
            #fileInput
            [(ngModel)]="facturaSeleccionada.archivo"
            mode="basic"
            chooseIcon="pi pi-upload"
            accept=".pdf, .jpg, .png"
            maxFileSize="500000"
            [auto]="true"
            chooseLabel="Subir archivo"
            (onSelect)="onFileSelect($event)"
          ></p-fileUpload>
        </div>
        <div class="flex items-center ml-4" *ngIf="facturaSeleccionada.archivo">
          <span class="mr-5 text-gray-400">
            {{
              facturaSeleccionada.archivo.name || facturaSeleccionada.archivo
            }}
          </span>
          <p-button class="mr-3" variant="text" (click)="removeUploadedFile()">
            <i class="pi pi-times"></i>
          </p-button>
        </div>
      </div>

      <div class="mt-2 p-3 flex justify-end gap-2">
        <button
          pButton
          type="button"
          label="Guardar"
          (click)="actualizarFactura()"
        ></button>
      </div>
    </div>
  </p-dialog>
</div>
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
