<div class="min-h-screen flex items-center justify-center p-6">
  <div
    class="shadow-2xl content-info bg-zinc-50 rounded-3xl max-w-3xl w-full p-10 space-y-10"
  >
    <h2 class="text-3xl font-extrabold text-center border-b pb-4 font-color">
      🔒 Restablecer Contraseña
    </h2>

    <form (ngSubmit)="onResetPassword()">
      <div class="flex flex-col m-auto w-72">
        <label class="mb-2" for="newPassword">Nueva Contraseña *</label>
        <div class="password-style">
          <p-inputGroup>
            <p-inputGroupAddon>
              <i class="pi pi-lock"></i>
            </p-inputGroupAddon>

            <p-password
              [(ngModel)]="newPassword"
              name="newPassword"
              placeholder="Nueva contraseña"
              [feedback]="true"
              [toggleMask]="true"
              required
              class="flex w-72"
            ></p-password>
          </p-inputGroup>
        </div>
      </div>
      <div
        *ngFor="let message of validationResetPassword"
        class="w-full m-auto mt-6"
      >
        <p-message
          [life]="8000"
          icon="pi pi-info-circle"
          [severity]="message.severity"
          [text]="message.text"
          [closable]="true"
          styleClass="custom-messages"
        ></p-message>
      </div>

      <div class="pt-8 -mb-7">
        <app-loading *ngIf="loading"></app-loading>
      </div>

      <div class="text-center font-bold mt-6">
        <button class="p-button" [disabled]="!newPassword" type="submit">
          Restablecer Contraseña
        </button>
      </div>
    </form>
  </div>
</div>
<p-toast></p-toast>
