<div class="w-11/12 m-auto mb-20 table-autoflow rounded-xl shadow-lg">
  <div class="mb-6 px-3 md:w-5/12 w-full flex items-center gap-3">
    <p-inputGroup>
      <p-inputGroupAddon>
        <i class="pi pi-search"></i>
      </p-inputGroupAddon>
      <input
        #searchInput
        type="text"
        pInputText
        placeholder="Buscar cliente por nombre..."
      />
    </p-inputGroup>
  </div>
  <p-table
    [value]="clientes"
    styleClass="p-datatable-sm"
    [tableStyle]="{ 'min-width': '60rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="limit"
    [totalRecords]="totalClientes"
    (onLazyLoad)="cargarClientes($event)"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    lazy="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="nombre" style="width: 15%">
          <div>
            Nombre
            <p-sortIcon class="order" field="nombre" />
          </div>
        </th>

        <th pSortableColumn="email" style="width: 20%">
          <div>
            Correo Electrónico
            <p-sortIcon class="order" field="email" />
          </div>
        </th>

        <th pSortableColumn="telefono">
          <div>
            Teléfono
            <p-sortIcon class="order" field="telefono" />
          </div>
        </th>

        <th pSortableColumn="direccion_fiscal">
          <div>
            Dirección
            <p-sortIcon class="order" field="direccion_fiscal" />
          </div>
        </th>

        <th style="width: 2%">Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-cliente>
      <tr class="body-table">
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.telefono }}</td>
        <td>{{ cliente.direccion_fiscal }}</td>

        <td class="flex gap-2">
          <button class="p-button edit" (click)="abrirModalEdicion(cliente)">
            <i class="pi pi-pencil"></i>
          </button>
          <button class="p-button danger" (click)="deleteCliente(cliente.id)">
            <i class="pi pi-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="footer">
      <tr>
        <td colspan="15">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ totalClientes || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td
          colspan="8"
          style="text-align: center; padding: 30px; align-items: center"
        >
          <i
            class="pi pi-info-circle"
            style="margin-right: 15px; font-size: 1.6rem; color: blue"
          ></i>
          <strong>No hay clientes para mostrar.</strong>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-dialog
    header="Editar Factura: {{ clienteSeleccionado.nombre }}"
    [(visible)]="openDialog"
    [modal]="true"
    styleClass=" custom-dialog  w-full sm:w-10/12 md:w-1/2"
    [closable]="true"
    (onHide)="openDialog = false"
  >
    <div class="custom-grid-form p-4">
      <div>
        <label class="block">Nombre o Razón social *</label>
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-user"></i>
          </p-inputGroupAddon>
          <input
            pInputText
            required="true"
            id="nombre"
            [(ngModel)]="clienteSeleccionado.nombre"
          />
        </p-inputGroup>
      </div>
      <div>
        <label class="block">Correo electrónico</label>
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-envelope"></i>
          </p-inputGroupAddon>
          <input
            pInputText
            required="true"
            id="email"
            [(ngModel)]="clienteSeleccionado.email"
          />
        </p-inputGroup>
      </div>
      <div>
        <label class="block">Número de teléfono</label>
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-phone"></i>
          </p-inputGroupAddon>
          <input
            pInputText
            required="true"
            id="telefono"
            [(ngModel)]="clienteSeleccionado.telefono"
          />
        </p-inputGroup>
      </div>
      <div>
        <label class="block">Dirección</label>
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-map-marker"></i>
          </p-inputGroupAddon>
          <input
            pInputText
            required="true"
            id="direccion_fiscal"
            [(ngModel)]="clienteSeleccionado.direccion_fiscal"
          />
        </p-inputGroup>
      </div>
      <div></div>
      <div class="-mt-7 md:mt-2 p-3 flex justify-end gap-2">
        <button
          pButton
          type="button"
          label="Guardar"
          (click)="actualizarCliente()"
        ></button>
      </div>
    </div>
    <div *ngFor="let message of validationMessages" class="w-full p-1">
      <p-message
        [life]="8000"
        icon="pi pi-times-circle"
        [severity]="message.severity"
        [text]="message.text"
        [closable]="true"
        styleClass="custom-messages"
      ></p-message>
    </div>
  </p-dialog>
</div>
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
