<div class="w-11/12 m-auto mb-20 table-FaktuFlow rounded-xl shadow-lg">
  <div class="mb-6 px-3 md:w-5/12 w-full flex items-center gap-3">
    <p-inputGroup>
      <p-inputGroupAddon>
        <i class="pi pi-search"></i>
      </p-inputGroupAddon>
      <input
        #searchInput
        type="text"
        pInputText
        placeholder="Buscar por fecha, nombre, categoría o descripción..."
      />
    </p-inputGroup>
  </div>

  <div *ngIf="loadingDelete" class="pt-6">
    <app-loading></app-loading>
  </div>

  <p-table
    [value]="ingresos"
    styleClass="p-datatable-sm"
    [tableStyle]="{ 'min-width': '60rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="limit"
    [totalRecords]="totalIngresos"
    (onLazyLoad)="cargarIngresos($event)"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    lazy="true"
    [loading]="loadingTable"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="fecha_ingreso">
          <div>
            Fecha
            <p-sortIcon class="order" field="fecha_ingreso" />
          </div>
        </th>

        <th pSortableColumn="nombre_ingreso" style="width: 15%">
          <div>
            Nombre
            <p-sortIcon class="order" field="nombre_ingreso" />
          </div>
        </th>

        <th pSortableColumn="categoria" style="width: 15%">
          <div>
            Categoría
            <p-sortIcon class="order" field="categoria" />
          </div>
        </th>

        <th pSortableColumn="importe_total">
          <div>
            Importe
            <p-sortIcon class="order" field="importe_total" />
          </div>
        </th>

        <th style="width: 30%">Descripción</th>
        <th style="width: 2%">Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-ingreso>
      <tr class="body-table">
        <td>{{ ingreso.fecha_ingreso | date : "dd/MM/yyyy" }}</td>
        <td>{{ ingreso.nombre_ingreso }}</td>
        <td>{{ ingreso.categoria }}</td>
        <td>{{ ingreso.importe_total | importeEur }}</td>
        <td>{{ ingreso.descripcion }}</td>

        <td class="flex gap-2">
          <button class="p-button edit" (click)="openModal(ingreso)">
            <i class="pi pi-pencil"></i>
          </button>
          <button class="p-button danger" (click)="deleteIngreso(ingreso.id)">
            <i class="pi pi-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="footer">
      <tr>
        <td colspan="15">
          <div class="pl-2">
            Total de ingresos:
            <span class="font-bold">{{ totalIngresos || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td
          colspan="8"
          style="text-align: center; padding: 30px; align-items: center"
        >
          <i
            class="pi pi-info-circle"
            style="margin-right: 15px; font-size: 1.6rem; color: blue"
          ></i>
          <strong>No hay ingresos para mostrar.</strong>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Modal de edición de Ingresos -->
  <p-dialog
    header="Editar Gasto: {{ ingresoSeleccionado.nombre_ingreso }}"
    [(visible)]="openDialog"
    [modal]="true"
    styleClass="w-full sm:w-10/12 md:w-1/2"
    [closable]="true"
    (onHide)="openDialog = false"
  >
    <div class="custom-grid-form p-4">
      <div>
        <label class="block">Nombre del Ingreso *</label>
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-wallet"></i>
          </p-inputGroupAddon>
          <input
            pInputText
            required="true"
            id="nombre_ingreso"
            [(ngModel)]="ingresoSeleccionado.nombre_ingreso"
          />
        </p-inputGroup>
      </div>

      <div>
        <label class="block"> Categoria *</label>
        <div class="flex custom-div-form">
          <p-inputGroupAddon>
            <i class="pi pi-tags"></i>
          </p-inputGroupAddon>
          <p-select
            [(ngModel)]="ingresoSeleccionado.categoria"
            [options]="categoriaOptions"
            optionLabel="label"
            optionValue="value"
            [filter]="true"
            class="p-fluid w-full custom-p-select"
          ></p-select>
        </div>
      </div>

      <div>
        <label class="block"> Fecha *</label>
        <div class="flex custom-div-form">
          <p-inputGroupAddon>
            <i class="pi pi-calendar"></i>
          </p-inputGroupAddon>
          <p-datepicker
            [(ngModel)]="ingresoSeleccionado.fecha_ingreso"
            required="true"
            [readonlyInput]="true"
            [showButtonBar]="true"
            dateFormat="dd/mm/yy"
            styleClass="p-fluid w-full"
            [appendTo]="'body'"
          ></p-datepicker>
        </div>
      </div>

      <div>
        <label class="block">Importe *</label>
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-map-marker"></i>
          </p-inputGroupAddon>
          <input
            pInputText
            required="true"
            id="importe_total"
            [(ngModel)]="ingresoSeleccionado.importe_total"
          />
        </p-inputGroup>
      </div>

      <div>
        <label class="block"> Descripción </label>
        <div class="flex custom-div-form">
          <p-inputGroupAddon>
            <i class="pi pi-pencil"></i>
          </p-inputGroupAddon>
          <textarea
            pTextarea
            [(ngModel)]="ingresoSeleccionado.descripcion"
            required="true"
            class="p-fluid w-full"
          ></textarea>
        </div>
      </div>

      <div></div>
      <div></div>

      <div class="-mt-7 md:mt-2 p-3 flex justify-end gap-2">
        <button
          pButton
          type="button"
          label="Guardar"
          (click)="updateIngreso()"
        ></button>
      </div>
    </div>
    <div *ngFor="let message of validationMessages" class="w-full p-1">
      <p-message
        [life]="8000"
        icon="pi pi-times-circle"
        [severity]="message.severity"
        [text]="message.text"
        [closable]="true"
        styleClass="custom-messages"
      ></p-message>
    </div>

    <div *ngIf="loadingEdit" class="pt-6">
      <app-loading></app-loading>
    </div>
  </p-dialog>
</div>
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
