<div class="w-11/12 m-auto mb-20 table-autoflow rounded-xl shadow-lg">
  <p-table
    [value]="ingresos"
    styleClass="p-datatable-sm"
    [tableStyle]="{ 'min-width': '60rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="limit"
    [totalRecords]="totalIngresos"
    (onLazyLoad)="cargarIngresos($event)"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    lazy="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="fecha_ingreso">
          <div>
            Fecha
            <p-sortIcon class="order" field="fecha_ingreso" />
          </div>
        </th>

        <th pSortableColumn="nombre_ingreso" style="width: 15%">
          <div>
            Nombre
            <p-sortIcon class="order" field="nombre_ingreso" />
          </div>
        </th>

        <th pSortableColumn="categoria" style="width: 15%">
          <div>
            Categoría
            <p-sortIcon class="order" field="categoria" />
          </div>
        </th>

        <th pSortableColumn="importe_total">
          <div>
            Importe
            <p-sortIcon class="order" field="importe_total" />
          </div>
        </th>

        <th style="width: 30%">Descripción</th>
        <th style="width: 2%">Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-ingreso>
      <tr class="body-table">
        <td>{{ ingreso.fecha_ingreso | date : "dd/MM/yyyy" }}</td>
        <td>{{ ingreso.nombre_ingreso }}</td>
        <td>{{ ingreso.categoria }}</td>
        <td>€ {{ ingreso.importe_total }}</td>
        <td>{{ ingreso.descripcion }}</td>

        <td>
          <button
            class="p-button p-button-danger"
            (click)="deleteIngreso(ingreso.id)"
          >
            <i class="pi pi-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="footer">
      <tr>
        <td colspan="15">
          <div class="pl-2">
            Total de ingresos:
            <span class="font-bold">{{ totalIngresos || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td
          colspan="8"
          style="text-align: center; padding: 30px; align-items: center"
        >
          <i
            class="pi pi-info-circle"
            style="margin-right: 15px; font-size: 1.6rem; color: blue"
          ></i>
          <strong>No hay ingresos para mostrar.</strong>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
