<nav
  class="fixed top-0 w-[23%] left-0 h-screen overflow-hidden transition-all duration-300"
>
  <!-- Logo centrado -->
  <div class="flex justify-center items-center pt-4">
    <img
      src="/assets/ico/Autoflow-logo.webp"
      alt="Logo"
      class="w-48 h-48 logo"
    />
  </div>

  <!-- Zona de bienvenida y dropdown para el correo -->
  <div class="p-2 justify-center">
    <h3 class="text-2xl font-semibold text-center mb-4">Bienvenido 👋🏻</h3>

    <p-accordion [activeIndex]="1">
      <p-accordionTab header="{{ userEmail }}">
        <button
          class="w-full text-left px-4 py-2 rounded-md mt-2"
          (click)="logout()"
        >
          Cerrar sesión
        </button>
      </p-accordionTab>
    </p-accordion>
  </div>

  <ul class="list-none py-6 px-8">
    <li class="p-2 text-lg">
      <a
        routerLink="/dashboard/resumen"
        routerLinkActive="active"
        class="block px-2 py-1 rounded nav-item"
        ><i class="fas fa-tachometer-alt icon-item"></i> Resumen</a
      >
    </li>
    <li class="p-2 text-lg">
      <a
        routerLink="/dashboard/facturas"
        routerLinkActive="active"
        class="block px-2 py-1 rounded nav-item"
        ><i class="fas fa-file-invoice icon-item"></i> Facturas</a
      >
    </li>
    <li class="p-2 text-lg">
      <a
        routerLink="/dashboard/gastos"
        routerLinkActive="active"
        class="block px-2 py-1 rounded nav-item"
        ><i class="fas fa-wallet icon-item"></i>Gastos</a
      >
    </li>
    <li class="p-2 text-lg">
      <a
        routerLink="/dashboard/ingresos"
        routerLinkActive="active"
        class="block px-2 py-1 rounded nav-item"
        ><i class="fas fa-money-bill-alt icon-item"></i>Ingresos</a
      >
    </li>
    <li class="p-2 text-lg">
      <a
        routerLink="/dashboard/clientes"
        routerLinkActive="active"
        class="block px-2 py-1 rounded nav-item"
        ><i class="fas fa-users icon-item"></i>Clientes</a
      >
    </li>
  </ul>

  <div
    class="absolute bottom-5 left-0 right-0 text-center text-xs px-4 text-teal-50"
  >
    <p>
      Si te gusta la app...
      <br />
      <a
        href="https://github.com/29jbarrera/autoflow-frontend"
        target="_blank"
        class="hover:underline"
        >Puedes darme una estrella en GitHub pulsando aquí! ⭐</a
      >
    </p>
  </div>
</nav>

<main class="ml-[23%] h-screen overflow-y-auto p-4">
  <router-outlet></router-outlet>
</main>
