.logo {
  filter: drop-shadow(0 0 5px rgba(76, 225, 185, 0.9));
}

.button-logout{
  background: gainsboro;
  color: var(--color-primary);
  transition: all 0.3s ease;
  font-weight: bold;
}

.button-logout:hover{
  background: var(--color-primary-low);
  color: var(--color-secondary);
}

nav {
  transition: transform 0.3s ease-in-out;
}

.hidden-mobile {
  transform: translateX(-100%);
}

.nav-item {
  padding: 11px;
  background: rgb(233, 236, 239, 0.08);
  transition: all 0.3s ease;
  font-weight: 600;
}

.nav-item:hover {
  background: rgb(233, 236, 239, 0.2);
}

.nav-item.active {
  background-color: rgb(233, 236, 239, 0.8);
  color: var(--color-primary);
}

.icon-item {
  margin-left: 20px;
  margin-right: 15px;
}

.toggle-menu {
  background: var(--color-secondary);
  color: white;
  padding: 8px;
}
