<div class="flex justify-center items-center sm:p-6 p-3 text-black">
  <div
    class="sm:w-2/3 w-full bg-white shadow-xl rounded-2xl p-10 space-y-6 text-base leading-relaxed"
  >
    <div class="relative h-32 flex items-center justify-center">
      <a href="/dashboard" class="absolute md:left-4">
        <img src="/assets/FaktuFlow.ico" alt="Logo Faktuflow" class="h-36" />
      </a>
      <h1 class="text-3xl font-bold text-center w-full mt-44 md:mt-0">
        Términos de uso
      </h1>
    </div>

    <ol class="space-y-4 list-decimal list-inside md:pt-0 pt-20">
      <p>
        Bienvenido/a a FaktuFlow. Al acceder y utilizar nuestra plataforma,
        aceptas cumplir con los siguientes términos y condiciones. Si no estás
        de acuerdo, te recomendamos no utilizar nuestros servicios.
      </p>
      <li>
        <strong>Información General:</strong>
        <p><strong>Titular del sitio: </strong> FaktuFlow</p>
        <p><strong>Correo electrónico: </strong></p>
        <p>
          Estos términos regulan el uso de la plataforma FaktuFlow, disponible
          en
          <a class="text-blue-500" href="https://faktuflow.es/login"
            >https://faktuflow.es/login</a
          >. El uso de la misma implica la aceptación plena y sin reservas de
          este documento.
        </p>
      </li>

      <li>
        <strong>Objeto del Servicio:</strong>
        <p>
          FaktuFlow proporciona una solución en línea para la gestión de
          facturación, ingresos, gastos y clientes, orientada a autónomos y
          pequeñas empresas.
        </p>
      </li>

      <li>
        <strong>Registro de Usuario:</strong>
        <p>
          Para utilizar ciertas funcionalidades, el usuario debe registrarse
          proporcionando información veraz: nombre, apellidos y correo
          electrónico. El usuario es responsable de mantener la confidencialidad
          de sus credenciales.
        </p>
      </li>

      <li>
        <strong>Uso Aceptable:</strong>
        <p>El usuario se compromete a:</p>
        <p>- Usar la plataforma de forma legal y adecuada.</p>
        <p>- No utilizar FaktuFlow para fines fraudulentos o ilícitos.</p>
        <p>- No vulnerar los derechos de terceros ni dañar el sistema.</p>
      </li>

      <li>
        <strong>Propiedad Intelectual:</strong>
        <p>
          Todo el contenido original (textos, imágenes, código, logotipos, etc.)
          es propiedad de FaktuFlow o sus licenciantes. Algunos elementos, como
          los iconos de PrimeIcons, se utilizan bajo licencia MIT. Está
          prohibida su reproducción, modificación o distribución sin
          autorización.
        </p>
      </li>

      <li>
        <strong>Protección de Datos:</strong>
        <p>
          El tratamiento de datos personales se realiza conforme a nuestra
          <a class="text-blue-500" href="/politica-privacidad"
            >Política de Privacidad</a
          >. FaktuFlow garantiza medidas adecuadas para la protección de los
          datos conforme al RGPD.
        </p>
      </li>

      <li>
        <strong>Cookies:</strong>
        <p>
          FaktuFlow no utiliza cookies propias ni de terceros. Se emplea Vercel
          Web Analytics para recopilar métricas anónimas sin cookies. Más
          detalles en nuestra
          <a class="text-blue-500" href="/politica-cookies"
            >Política de Cookies</a
          >.
        </p>
      </li>

      <li>
        <strong>Disponibilidad y Responsabilidad:</strong>
        <p>
          FaktuFlow no garantiza la disponibilidad ininterrumpida del servicio y
          no se responsabiliza de:
        </p>
        <p>- Interrupciones técnicas o fallos del sistema.</p>
        <p>- Pérdida de datos por causas ajenas a la empresa.</p>
        <p>
          - Contenidos de terceros a los que se pueda acceder desde la
          plataforma.
        </p>
      </li>

      <li>
        <strong>Modificaciones:</strong>
        <p>
          Nos reservamos el derecho de actualizar estos términos en cualquier
          momento. Se notificará a los usuarios registrados en caso de cambios
          relevantes. El uso continuado de la plataforma tras una modificación
          implica la aceptación de los nuevos términos.
        </p>
      </li>

      <li>
        <strong>Legislación Aplicable y Jurisdicción:</strong>
        <p>
          Estos Términos de Uso se rigen por la legislación española. En caso de
          disputa, ambas partes acuerdan someterse a los tribunales competentes
          de España.
        </p>
      </li>

      <p>Gracias por utilizar FaktuFlow.</p>
    </ol>

    <p class="text-sm text-zinc-300 mt-6 text-center">
      Última actualización: {{ getFechaActual() }}
    </p>
  </div>
</div>
<app-footer></app-footer>
