<header class="bg-[#112c35] text-white">
  <nav class="scroll-px-14 lg:px-6 py-1.5">
    <div
      class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl"
    >
      <!-- Logo -->
      <div class="w-full lg:w-auto flex justify-center lg:justify-start">
        <a routerLink="/" class="flex items-center">
          <img
            src="/assets/blogs/faktuflow-negativo.webp"
            class="h-20 sm:h-18 -my-5"
            alt="FaktuFlow"
          />
        </a>
      </div>

      <!-- Mobile toggle button -->
      <button
        (click)="isMenuOpen = !isMenuOpen"
        type="button"
        class="ml-auto inline-flex items-center p-2 -mt-10 text-sm text-white rounded-lg lg:hidden hover:bg-[--color-secondary-low] focus:outline-none"
        aria-controls="mobile-menu"
        aria-expanded="false"
      >
        <svg
          *ngIf="!isMenuOpen"
          class="w-6 h-6"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            fill-rule="evenodd"
            d="M3 5h14a1 1 0 110 2H3a1 1 0 010-2zm0 5h14a1 1 0 110 2H3a1 1 0 010-2zm0 5h14a1 1 0 110 2H3a1 1 0 010-2z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <svg
          *ngIf="isMenuOpen"
          class="w-6 h-6"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>

      <!-- Desktop nav -->
      <div class="hidden lg:flex lg:items-center lg:space-x-10 text-white">
        <a
          routerLink="/"
          routerLinkActive="text-[#4ce1b9]"
          [routerLinkActiveOptions]="{ exact: true }"
          class="hover:text-[#4ce1b9] -mr-8"
          >Inicio</a
        >

        <!-- PrimeNG Dropdown para Blogs -->
        <p-tieredMenu
          [model]="blogItems"
          popup="true"
          #blogMenu
          styleClass="custom-tieredmenu"
        ></p-tieredMenu>

        <span
          (click)="blogMenu.toggle($event)"
          class="cursor-pointer hover:text-[#4ce1b9]"
          [ngClass]="{ 'text-[#4ce1b9]': router.url.startsWith('/blog') }"
        >
          Nuestros Blogs
        </span>

        <a
          routerLink="/sobre-nosotros"
          routerLinkActive="text-[#4ce1b9]"
          [routerLinkActiveOptions]="{ exact: true }"
          class="hover:text-[#4ce1b9]"
          >Sobre nosotros</a
        >
        <a routerLink="/login" class="hover:text-[#4ce1b9]">Acceder</a>
        <a routerLink="/login" class="hover:text-[#4ce1b9]">Registrarse</a>
      </div>
    </div>

    <!-- Mobile menu -->
    <div
      *ngIf="isMenuOpen"
      class="lg:hidden mt-4 px-4 space-y-4 text-sm text-white"
    >
      <a
        routerLink="/"
        routerLinkActive="text-[#4ce1b9]"
        [routerLinkActiveOptions]="{ exact: true }"
        class="block pt-3 font-semibold transition-colors hover:text-[#4ce1b9]"
        >Inicio</a
      >
      <div class="w-full h-px bg-white/30 -py-2"></div>
      <div>
        <span
          routerLink="/blog"
          routerLinkActive="text-[#4ce1b9]"
          class="block font-semibold mb-1"
          >Nuestros Blogs</span
        >
        <div class="ml-6 space-y-3">
          <a
            routerLink="/blog/factura-digital"
            class="block hover:text-[#4ce1b9] transition-colors"
            >-> Como gestionar facturas electrónicas</a
          >
          <a
            routerLink="/blog/consejos-financieros"
            class="block hover:text-[#4ce1b9] transition-colors"
            >-> Lleva tus finanzas al siguiente nivel</a
          >
          <a
            routerLink="/blog/impuestos"
            class="block hover:text-[#4ce1b9] transition-colors"
            >-> Impuestos: Lo básicos que debes saber</a
          >
          <a
            routerLink="/blog/mejora-la-productividad-de-tu-negocio"
            class="block hover:text-[#4ce1b9] transition-colors"
            >-> Mejora la productividad en tu negocio</a
          >
        </div>
      </div>
      <div class="w-full h-px bg-white/30 -py-2"></div>
      <a
        routerLink="/sobre-nosotros"
        routerLinkActive="text-[#4ce1b9]"
        class="block font-semibold hover:text-[#4ce1b9] transition-colors"
        >Sobre nosotros</a
      >
      <div class="w-full h-px bg-white/30 -py-2"></div>
      <a
        routerLink="/login"
        class="block font-semibold hover:text-[#4ce1b9] transition-colors"
        >Acceder</a
      >
      <div class="w-full h-px bg-white/30 -py-2"></div>
      <a
        routerLink="/register"
        class="block font-semibold hover:text-[#4ce1b9] pb-3 transition-colors"
        >Registrarse</a
      >
    </div>
  </nav>
</header>
