<div class="w-11/12 m-auto mb-20 table-autoflow rounded-xl shadow-lg">
  <p-table
    [value]="gastos"
    styleClass="p-datatable-sm"
    [tableStyle]="{ 'min-width': '60rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="limit"
    [totalRecords]="totalGastos"
    (onLazyLoad)="cargarGastos($event)"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    lazy="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="fecha">
          <div>
            Fecha
            <p-sortIcon class="order" field="fecha" />
          </div>
        </th>

        <th pSortableColumn="nombre_gasto" style="width: 15%">
          <div>
            Nombre
            <p-sortIcon class="order" field="nombre_gasto" />
          </div>
        </th>

        <th pSortableColumn="categoria" style="width: 15%">
          <div>
            Categoría
            <p-sortIcon class="order" field="categoria" />
          </div>
        </th>

        <th pSortableColumn="importe_total">
          <div>
            Importe
            <p-sortIcon class="order" field="importe_total" />
          </div>
        </th>

        <th style="width: 30%">Descripción</th>
        <th style="width: 2%">Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-gasto>
      <tr class="body-table">
        <td>{{ gasto.fecha | date : "dd/MM/yyyy" }}</td>
        <td>{{ gasto.nombre_gasto }}</td>
        <td>{{ gasto.categoria }}</td>
        <td>€ {{ gasto.importe_total }}</td>
        <td>{{ gasto.descripcion }}</td>

        <td class="flex gap-2">
          <button class="p-button" (click)="openModal(gasto)">
            <i class="pi pi-file-edit"></i>
          </button>
          <button
            pButton
            class="p-button p-button-danger"
            (click)="deleteGasto(gasto.id)"
          >
            <i class="pi pi-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="footer">
      <tr>
        <td colspan="15">
          <div class="pl-2">
            Total de gastos:
            <span class="font-bold">{{ totalGastos || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td
          colspan="8"
          style="text-align: center; padding: 30px; align-items: center"
        >
          <i
            class="pi pi-info-circle"
            style="margin-right: 15px; font-size: 1.6rem; color: blue"
          ></i>
          <strong>No hay gastos para mostrar.</strong>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Modal de edición de Gastos -->
  <p-dialog
    header="Editar Gasto: {{ gastoSeleccionado.nombre_gasto }}"
    [(visible)]="openDialog"
    [modal]="true"
    styleClass="w-full sm:w-10/12 md:w-1/2"
    [closable]="true"
    (onHide)="openDialog = false"
  >
    <div class="custom-grid-form p-4">
      <div>
        <label class="block">Nombre del Gasto *</label>
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-wallet"></i>
          </p-inputGroupAddon>
          <input
            pInputText
            required="true"
            id="nombre_gasto"
            [(ngModel)]="gastoSeleccionado.nombre_gasto"
          />
        </p-inputGroup>
      </div>

      <div>
        <label class="block"> Categoria *</label>
        <div class="flex custom-div-form">
          <p-inputGroupAddon>
            <i class="pi pi-tags"></i>
          </p-inputGroupAddon>
          <p-select
            [(ngModel)]="gastoSeleccionado.categoria"
            [options]="categoriaOptions"
            optionLabel="label"
            optionValue="value"
            [filter]="true"
            class="p-fluid w-full custom-p-select"
          ></p-select>
        </div>
      </div>

      <div>
        <label class="block"> Fecha *</label>
        <div class="flex custom-div-form">
          <p-inputGroupAddon>
            <i class="pi pi-calendar"></i>
          </p-inputGroupAddon>
          <p-datepicker
            [(ngModel)]="gastoSeleccionado.fecha"
            required="true"
            [readonlyInput]="true"
            [showButtonBar]="true"
            dateFormat="dd/mm/yy"
            styleClass="p-fluid w-full"
            [appendTo]="'body'"
          ></p-datepicker>
        </div>
      </div>

      <div>
        <label class="block">Importe *</label>
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-map-marker"></i>
          </p-inputGroupAddon>
          <input
            pInputText
            required="true"
            id="importe_total"
            [(ngModel)]="gastoSeleccionado.importe_total"
          />
        </p-inputGroup>
      </div>

      <div>
        <label class="block"> Descripción </label>
        <div class="flex custom-div-form">
          <p-inputGroupAddon>
            <i class="pi pi-pencil"></i>
          </p-inputGroupAddon>
          <textarea
            pTextarea
            [(ngModel)]="gastoSeleccionado.descripcion"
            required="true"
            class="p-fluid w-full"
          ></textarea>
        </div>
      </div>

      <div></div>
      <div></div>

      <div class="-mt-7 md:mt-2 p-3 flex justify-end gap-2">
        <button
          pButton
          type="button"
          label="Guardar"
          (click)="updateGasto()"
        ></button>
      </div>
    </div>
    <div *ngFor="let message of validationMessages" class="w-full p-1">
      <p-message
        [life]="8000"
        icon="pi pi-times-circle"
        [severity]="message.severity"
        [text]="message.text"
        [closable]="true"
        styleClass="custom-messages"
      ></p-message>
    </div>
  </p-dialog>
</div>
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
