<div class="w-11/12 m-auto mb-20 table-autoflow rounded-xl shadow-lg">
  <p-table
    [value]="gastos"
    styleClass="p-datatable-sm"
    [tableStyle]="{ 'min-width': '60rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="limit"
    [totalRecords]="totalGastos"
    (onLazyLoad)="cargarGastos($event)"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    lazy="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="fecha">
          <div>
            Fecha
            <p-sortIcon class="order" field="fecha" />
          </div>
        </th>

        <th pSortableColumn="nombre_gasto" style="width: 15%">
          <div>
            Nombre
            <p-sortIcon class="order" field="nombre_gasto" />
          </div>
        </th>

        <th pSortableColumn="categoria" style="width: 15%">
          <div>
            Categoría
            <p-sortIcon class="order" field="categoria" />
          </div>
        </th>

        <th pSortableColumn="importe_total">
          <div>
            Importe
            <p-sortIcon class="order" field="importe_total" />
          </div>
        </th>

        <th style="width: 30%">Descripción</th>
        <th style="width: 2%">Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-gasto>
      <tr class="body-table">
        <td>{{ gasto.fecha | date : "dd/MM/yyyy" }}</td>
        <td>{{ gasto.nombre_gasto }}</td>
        <td>{{ gasto.categoria }}</td>
        <td>€ {{ gasto.importe_total }}</td>
        <td>{{ gasto.descripcion }}</td>

        <!-- Botón de eliminación -->
        <td>
          <button class="p-button p-button-danger">
            <i class="pi pi-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="footer">
      <tr>
        <td colspan="15">
          <div class="pl-2">
            Total de gastos:
            <span class="font-bold">{{ gastos.length || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
