<div
  class="sm:w-8/12 w-11/12 m-auto p-5 my-12 border-dashed border-2 rounded-xl bg-white section-form"
>
  <form (ngSubmit)="onSubmit($event)" class="sm:w-full" #form="ngForm">
    <div *ngFor="let field of formFields">
      <div class="input-group">
        <!-- Label -->
        <label
          *ngIf="field.type !== 'submit'"
          for="{{ field.name }}"
          class="block"
        >
          {{ field.label }}
        </label>

        <!-- Input Group for Text, Email, Number -->
        <ng-container *ngIf="isTextInput(field)">
          <p-inputGroup>
            <p-inputGroupAddon *ngIf="field.type !== 'toggle'">
              <i [class]="field.icon"></i>
            </p-inputGroupAddon>
            <input
              pInputText
              [(ngModel)]="formModel[field.name]"
              [id]="field.name"
              [name]="field.name"
              [placeholder]="field.placeholder"
              [required]="field.required"
              [type]="field.type"
              autocomplete="off"
            />
          </p-inputGroup>
        </ng-container>

        <!-- Calendar for Date -->
        <div *ngIf="field.type === 'date'" class="flex custom-div-form">
          <p-inputGroupAddon>
            <i [class]="field.icon"></i>
          </p-inputGroupAddon>
          <p-datepicker
            [(ngModel)]="formModel[field.name]"
            [id]="field.name"
            [name]="field.name"
            [required]="field.required"
            [readonlyInput]="true"
            [showButtonBar]="true"
            styleClass="w-full calendar-custom"
          ></p-datepicker>
        </div>

        <!-- Dropdown for Options -->
        <div *ngIf="field.type === 'select'" class="flex custom-div-form">
          <p-inputGroupAddon>
            <i [class]="field.icon"></i>
          </p-inputGroupAddon>
          <p-autocomplete
            [(ngModel)]="formModel[field.name]"
            (completeMethod)="(field.options)"
            [dropdown]="true"
            optionLabel="label"
            optionValue="value"
            [id]="field.name"
            [name]="field.name"
            [required]="field.required"
            class="w-full p-fluid custom-dropdown"
          ></p-autocomplete>
        </div>

        <!-- Textarea for Description -->
        <div *ngIf="field.type === 'textarea'" class="flex custom-div-form">
          <p-inputGroupAddon>
            <i [class]="field.icon"></i>
          </p-inputGroupAddon>
          <textarea
            [(ngModel)]="formModel[field.name]"
            [id]="field.name"
            [name]="field.name"
            [placeholder]="field.placeholder"
            [required]="field.required"
            class="p-fluid w-full"
          ></textarea>
        </div>

        <!-- File Upload -->
        <div *ngIf="field.type === 'file'" class="mt-3">
          <p-fileUpload
            [(ngModel)]="formModel[field.name]"
            mode="basic"
            chooseIcon="pi pi-upload"
            accept="image/*"
            maxFileSize="1000000"
            [auto]="true"
            chooseLabel="Subir archivo"
          />
        </div>

        <!-- Toggle Switch -->
        <div *ngIf="field.type === 'toggle'" class="mt-4">
          <label
            class="relative inline-block h-8 w-14 cursor-pointer rounded-full bg-gray-300 transition [-webkit-tap-highlight-color:_transparent] has-[:checked]:bg-[rgb(21,44,53)]"
            [for]="field.name"
          >
            <input
              [(ngModel)]="formModel[field.name]"
              class="peer sr-only"
              type="checkbox"
              [id]="field.name"
              [name]="field.name"
              [required]="field.required"
            />
            <span
              class="absolute inset-y-0 start-0 m-1 size-6 rounded-full bg-gray-300 ring-[6px] ring-inset ring-white transition-all peer-checked:start-8 peer-checked:w-2 peer-checked:bg-white peer-checked:ring-transparent"
            ></span>
          </label>
        </div>

        <!-- Submit Button -->
        <div *ngIf="field.type === 'submit'">
          <p-button
            type="submit"
            (click)="onSubmit($event)"
            class="boton-clase"
          >
            {{ field.label }}
          </p-button>
        </div>
      </div>
    </div>
  </form>
</div>
