<div
  class="sm:w-10/12 w-full m-auto p-5 my-12 border-dashed border-2 rounded-xl bg-white section-form"
>
  <form class="sm:w-full">
    <div *ngFor="let field of formFields">
      <div class="input-group">
        <label
          *ngIf="field.type !== 'submit'"
          for="{{ field.name }}"
          class="block"
          >{{ field.label }}</label
        >

        <!-- Input Text, Email, Number -->
        <p-inputGroup *ngIf="field.type !== 'submit'">
          <p-inputGroupAddon>
            <i [class]="field.icon"></i>
          </p-inputGroupAddon>
          <input
            *ngIf="
              field.type === 'text' ||
              field.type === 'email' ||
              field.type === 'number'
            "
            pInputText
            id="{{ field.name }}"
            name="{{ field.name }}"
            placeholder="{{ field.placeholder }}"
            [required]="field.required"
            autocomplete="off"
          />
        </p-inputGroup>

        <!-- Dropdown for options -->
        <p-dropdown
          *ngIf="field.type === 'select'"
          [options]="field.options"
          optionLabel="label"
          optionValue="value"
          id="{{ field.name }}"
          name="{{ field.name }}"
          [required]="field.required"
        ></p-dropdown>

        <!-- Calendar for date -->
        <p-calendar
          *ngIf="field.type === 'date'"
          id="{{ field.name }}"
          name="{{ field.name }}"
          [required]="field.required"
          class="input-field"
        ></p-calendar>

        <!-- InputSwitch for toggle -->
        <p-inputSwitch
          *ngIf="field.type === 'toggle'"
          id="{{ field.name }}"
          name="{{ field.name }}"
          class="input-field"
        ></p-inputSwitch>

        <!-- Textarea for longer description -->
        <textarea
          *ngIf="field.type === 'textarea'"
          id="{{ field.name }}"
          name="{{ field.name }}"
          placeholder="{{ field.placeholder }}"
          [required]="field.required"
          class="input-field"
        ></textarea>

        <!-- Submit button -->
      </div>
      <p-button *ngIf="field.type === 'submit'" type="submit">
        {{ field.label }}
      </p-button>
    </div>
  </form>
</div>
