<div
  class="flex justify-center items-center sm:p-6 p-3 text-black min-h-screen"
>
  <div
    class="sm:w-2/3 w-full bg-white shadow-xl rounded-2xl p-10 space-y-6 text-base leading-relaxed"
  >
    <div class="relative h-32 flex items-center justify-center">
      <a href="/dashboard" class="absolute md:left-4">
        <img src="/assets/FaktuFlow.ico" alt="Logo faktuflow" class="h-36" />
      </a>
      <h1 class="text-3xl font-bold text-center w-full mt-44 md:mt-0">
        Política de Cookies
      </h1>
    </div>

    <ol class="space-y-4 list-decimal list-inside md:pt-0 pt-20">
      <li>
        <strong>¿Qué son las cookies?</strong>
        <p>
          Las cookies son archivos que se almacenan en el navegador del usuario
          para mejorar la experiencia de navegación o realizar análisis del uso
          del sitio web.
        </p>
      </li>
      <li>
        <strong>Uso de cookies en FaktuFlow:</strong>
        <p>
          FaktuFlow no utiliza cookies propias ni cookies de terceros.
          Utilizamos Vercel Web Analytics, una solución de análisis sin cookies,
          para comprender de forma anónima el uso de la plataforma y mejorar su
          rendimiento.
        </p>
      </li>
      <li>
        <strong>Vercel Web Analytics:</strong>
        <p>
          Esta herramienta no utiliza cookies ni recopila información personal
          del usuario. Solo se registran métricas básicas, como número de
          visitas y páginas vistas, de manera completamente anónima.
        </p>
      </li>
      <li>
        <strong>Gestión y desactivación de cookies:</strong>
        <p>
          Dado que no utilizamos cookies de seguimiento, no es necesario
          realizar configuraciones especiales en tu navegador respecto a cookies
          analíticas. Puedes consultar más información en la
          <a
            href="https://vercel.com/docs/analytics/privacy"
            class="text-blue-500 underline"
          >
            política de privacidad de Vercel Analytics</a
          >.
        </p>
      </li>
    </ol>

    <p class="text-sm text-zinc-300 mt-6 text-center">
      Última actualización: {{ getFechaActual() }}
    </p>
  </div>
</div>

<app-footer></app-footer>
