<div class="flex justify-center items-center sm:p-6 p-3 text-black">
  <div
    class="sm:w-2/3 w-full bg-white shadow-xl rounded-2xl p-10 space-y-6 text-base leading-relaxed"
  >
    <div class="relative h-32 flex items-center justify-center">
      <a href="/dashboard" class="absolute left-4">
        <img src="/assets/autoflow.ico" class="h-24" />
      </a>
      <h1 class="text-3xl font-bold text-center w-full">Política de Cookies</h1>
    </div>

    <ol class="space-y-4 list-decimal list-inside">
      <li>
        <strong>¿Qué son las cookies?</strong>
        <p>
          Las cookies son archivos que se almacenan en el navegador del usuario
          para mejorar la experiencia de navegación o realizar análisis del uso
          del sitio web.
        </p>
      </li>

      <li>
        <strong>Uso de cookies en AutoFlow:</strong>
        <p>
          AutoFlow no utiliza cookies propias. Sin embargo, empleamos Google
          Analytics, un servicio de terceros que sí puede establecer cookies
          para analizar estadísticas de uso del sitio web.
        </p>
      </li>

      <li>
        <strong>Cookies de Google Analytics:</strong>
        <p>
          Estas cookies recopilan información anónima sobre las visitas, páginas
          vistas, ubicación aproximada y dispositivo del usuario. Esta
          información nos ayuda a mejorar la plataforma.
        </p>
        <p>
          Puedes obtener más información en la
          <a
            href="https://policies.google.com/technologies/cookies?hl=es"
            target="_blank"
            class="text-blue-600 underline"
          >
            política de cookies de Google </a
          >.
        </p>
      </li>

      <li>
        <strong>Gestión y desactivación de cookies:</strong>
        <p>
          Si deseas desactivar estas cookies, puedes hacerlo configurando tu
          navegador para rechazar cookies de terceros o instalando el
          <a
            href="https://tools.google.com/dlpage/gaoptout"
            target="_blank"
            class="text-blue-600 underline"
          >
            complemento de inhabilitación de Google Analytics </a
          >.
        </p>
      </li>
    </ol>

    <p class="text-sm text-zinc-300 mt-6 text-center">
      Última actualización: Abril 2025
    </p>
  </div>
</div>

<app-footer></app-footer>
